*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  opacity: 0.7;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: seashell;
}

li {
  list-style-type: none;
}

.header-fixed {
  position: fixed;
  background-color: #111;
  width: 100%;
  max-height: 69px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 1px solid seashell;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-fixed .logo-tea-cozy {
  max-height: 50px;
  margin: 2% 0 2% 2%;
  opacity: 0.9;
}

.header-fixed .nav-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-fixed .nav-menu .item-menu {
  font-size: 1rem;
}

.header-fixed .nav-menu .item-menu .links-menu {
  opacity: 0.9;
}

.header-fixed .nav-menu .item-menu .links-menu:active {
  color: aliceblue;
}

.header-fixed .nav-menu .item-menu .links-menu:visited {
  color: aliceblue;
}

.header-fixed .nav-menu .item-menu .links-menu:hover {
  color: seashell;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  min-height: 700px;
  margin: 0 auto 5% auto;
  background-image: url(assets/img-mission-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container .mission-txt {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #111;
}

.mid-container {
  margin: auto;
  min-height: 500px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid-container .header-mid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-container .header-mid-container h2 {
  margin-bottom: 3%;
}

.mid-container .cards-section {
  margin-top: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mid-container .cards-section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
  margin-bottom: 4%;
}

.mid-container .cards-section .cards .tea-img {
  max-height: 200px;
  max-width: 300px;
}

.mid-container .cards-section .cards .tea-title {
  margin-top: 5%;
}

.third-container {
  min-height: 500px;
  width: 95%;
  background-image: url(assets/img-locations-background.jpeg);
  background-position: center;
  background-size: cover;
  margin: 5% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-container .location-card-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.third-container .location-card-container .location-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #111;
  min-width: 300px;
  min-height: 200px;
}

.third-container .location-card-container .location-card .location-adress .location-item {
  margin-top: 6%;
}

.last-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  width: 100%;
  margin: 0 auto 2% 2%;
  text-align: left;
}

@media screen and (max-width: 464px) {
  .header-fixed .nav-menu {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-fixed .nav-menu .item-menu {
    font-size: 0.8rem;
  }
  .mid-container {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */