*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    opacity: 0.7;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    width: 100%;
    overflow-x: hidden;
}

a{
    color: seashell;
}

li {
    list-style-type: none;

}

.header-fixed {
    position: fixed;
    background-color: #111;
    width: 100%;
    max-height: 69px;
    display: inline-flex;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;

    .logo-tea-cozy {
        max-height: 50px;
        margin: 2% 0 2% 2%;
        opacity: 0.9;
    }

    .nav-menu {
        display: inline-flex;
        width: 60%;
        justify-content: space-around;

        .item-menu {
            font-size: 1rem;

            .links-menu {
                opacity: 0.9;

                &:active {
                    color: aliceblue;
                }

                &:visited {
                    color: aliceblue;
                }

                &:hover {
                    color: seashell;
                }
            }
        }
    }


}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 700px;
    margin: 0 auto 5% auto;
    background-image: url(assets/img-mission-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .mission-txt {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        background-color: #111;
    }


}

.mid-container {
    margin: auto;
    min-height: 500px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-mid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-bottom: 3%;
        }
    }

    .cards-section {
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 2%;
            margin-bottom: 4%;

            .tea-img {
                max-height: 200px;
                max-width: 300px;
            }

            .tea-title {
                margin-top: 5%;
            }
        }
    }
}

.third-container {
    min-height: 500px;
    width: 95%;
    background-image: url(assets/img-locations-background.jpeg);
    background-position: center;
    background-size: cover;
    margin: 5% auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



        .location-card-container {
            width: 95%;
            display: flex;
            margin-top: 1%;
            justify-content: space-evenly;
       
            flex-basis: auto;
            flex-wrap: wrap;
            .location-card{
                display: flex;
                margin-top: 3%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #111;
                min-width: 300px;
                min-height: 200px;
            .location-adress{
                
                .location-item{
                    margin-top: 6%;
                }
            }
            }
        }
    }

.last-container{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    width: 100%;
    margin: 0 auto 2% 2%;
    text-align: left;
}
    @media screen and (max-width:464px) {

        .header-fixed {
            .nav-menu {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                .item-menu {
                    font-size: 0.8rem;
                }
            }
        }
    }